@charset "utf-8";
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.my_animation {
  animation: mykeyframes 5s linear 2s infinite normal;
  -moz-animation: mykeyframes 5s linear 2s infinite normal;
  -webkit-animation: mykeyframes 5s linear 2s infinite normal;
  -o-animation: mykeyframes 5s linear 2s infinite normal;
}
